.form {
  margin: auto;
  border: 0.3rem solid rgb(182, 174, 174);
  padding: 2rem;
  padding-top: 3rem;
  padding-right: 3rem;
}

.input {
  width: 120%;
  height: 80%;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.Button {
  font-size: 2rem;
}
